.cardContainer{
display: flex;
height: 50vh;
width: 70vw;
background-color: yellow;
}

.card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: green;
    height: 15vh;
    width: 10vw;
    margin: 1vh 0vw 1vh 1vw;
    &:hover{
        cursor: pointer;

    }
}